/** CSS Reset - Credits to Eric Meyer*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
body {
  line-height: 1
}
ol, ul {
  list-style: none
}
blockquote, q {
  quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}
:focus {
  outline: 0
}
ins {
  text-decoration: none
}
del {
  text-decoration: line-through
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
/*
 * blue #1BA1E2
 * lime #8CBF26   8cbf26
 * orange #F09609
 * teal #00ABA9;
 * green 339933
 */
body {
  background-color: #353535;
  font-family: 'Segoe UI', Meiryo, helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  text-shadow: 0 -1px 0 #888888;
}
.modal-enable {
  overflow: hidden;
  position: relative;
}
#container {
  margin: 5px;
  min-width: 640px;
  /*  overflow-y: scroll;*/
}
#navi {
  position: relative;
  /*  width: 100%;*/
  height: 100px;
  padding: 5px;
}
#navi #breadcrumbs {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}
#navi #title {
  font-size: 48px;
}
.editer {
  width: 647px;
  height: 400px;
  margin: 100px auto;
  background-color: #339933;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.editer-input {
  line-height: 18px;
  font-size: 13px;
  border-radius: 4px 4px 4px 4px;
  display: block;
}
.editer h1 {
  font-size: 24px;
  color: #000000;
}
.editer h2 {
  font-size: 16px;
  color: #888888;
}
.editer-wrapper {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}
.modal-enable .editer-wrapper {
  display: block;
}
.overlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
.modal-enable .overlay {
  display: block;
}
/* 150:243 */
.item {
  display: inline-block;
  white-space: nowrap;
  margin: 5px;
  padding: 3px;
  width: 161px;
  height: 100px;
  overflow: hidden;
}
/*  */
.folder {
  background-color: #1BA1E2;
  position: relative;
}
.folder h2 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 24px;
}
.folder h3 {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
}
/* */
.upper {
  background-color: #F09609;
  position: relative;
}
.upper h2 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 130%;
}
/*  */
.file {
  background-color: #00ABA9;
  font-size: 100%;
  text-shadow: 0 -1px 0 #888888;
}
.file a {
  text-decoration: none;
  color: #FFFFFF;
}
.title {
  width: 210px;
  height: 80px;
  display: block;
  overflow: hidden;
  white-space: normal;
}
.comment {
  font-size: 60%;
}
